@use 'src/styles/vars';

.AsideNavbar {
  width: 15vw;
  height: 100vh;
  background-color: vars.$blueColor;

  .AsideNavbar-ProfileCard-main {

    display: flex;
    flex-direction: column;
    border: solid 3px vars.$lightColor;
    margin: 30px 20px;
    padding: 15px; 
    border-radius: 25px;

    .AsideNavbar-ProfileCard-MainPicture{
      width: 60px;
      height: 60px;
      margin: 0px auto 20px auto;
      border: solid 1px vars.$lightColor;
      border-radius: 50%;
    }

    .AsideNavbar-ProfileCard-Name{
      color: vars.$lightColor;
      font-weight: 900;
      text-align: center;
      
    }

    .AsideNavbar-ProfileCard-Title{
      color: vars.$lightColor;
      text-align: center;
      margin-top: 10px;
    }

    .AsideNavbar-ProfileCard-ProfilePictureContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-around ;
      margin: 30px 0px 20px;

      .AsideNavbar-ProfileCard-ProfilePicture{
        border: solid 1px vars.$lightColor;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

    }

    .AsideNavbar-ProfileCard-Link{
      color: vars.$lightColor;
      text-align: center;
      margin-top: 10px;
      color: vars.$lightColor;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .AsideNavbar-Navbar-main {
    background-color: red;
    margin-top: 100px;
    .AsideNavbar-Navbar-ul {
     
      list-style-type: none;

      .AsideNavbar-Navbar-item {
        color: vars.$turquoiseColor;
        text-transform: uppercase;
        
      }

    }

  }

}

