.slider {
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 130px;

    .slide {
      opacity: 0;
      transition-duration: 1s ease;
    }

    .slide__active {
      opacity: 1;
      transition-duration: 1s;
      transform: scale(1.08); 
    }
    
    .right-arrow {
      position: absolute;
      top:45%;
      right: 10px;
      font-size: 3rem;
      color: black;
      z-index: 10;
      cursor: pointer;
      user-select: none;
    }

    .left-arrow {
      position: absolute;
      top:45%;
      left: 10px;
      font-size: 3rem;
      color: black;
      z-index: 10;
      cursor: pointer;
      user-select: none;
    }
}
