.contact__container {

  .contact__under--navbar{
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    
    .contact__left--container{
      align-items: center;
      display: flex;
      justify-content: center;
      width: 50%;
      height: 100%;

      .contact__left--form {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .contact__right {
      height: 100%;
      width: 50%;
     
    }
  }
}
