
.home__container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 2;

  .home__main--content {
      padding: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

    .home__main--content--left{
      padding-right: 20px;
      width: 100%;

      .home__title {
        margin-bottom: 20px;
      }

        .home__presentation {
          text-align: justify;
          width: 90%;
        }
    }
       
  }

    .home__presentation--right {
          
      height: auto;
      width: 40%;

      .home__picture {
        box-shadow: 7px 7px 7px black;

      }

    }
}
