@use 'src/styles/vars';

.spectacles__container {
  width: 60%;
  margin: 0 auto 20px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  font-family: vars.$roboto;
  
  .spectacles__main--content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      
      .spectacles__title{
        font-weight: 600;
        font-size: 40px;
        text-transform: uppercase;
      }

      .spectacles__presentation {
        text-align: justify;
        padding-top: 20px;
        width: 100%;
        font-size: 20px;
        font-style: italic;
      }
    }
  }

  .ombrelle__main--content {
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid black;
      border-radius: 25px;
    
    .ombrelle__upperPart {
      display: flex;
      flex-direction: row;
      align-items: center;

      .ombrelle__main--content--left {
        width: 60%;
        padding-right: 40px;
        
        .ombrelle__title{
          padding-bottom: 20px;
        }
  
        .ombrelle__presentation {
          text-align: justify;
        }
      }
      .ombrelle__presentation--right {
        width: 40%;
  
        .ombrelle__picture {
          box-shadow: 7px 7px 7px black;
          width: 100%;
          height: auto;
        }
      }
    }

    .ombrelle__accordion {
      width: 100%;
      background-color: black;
    }
  }

  .theater__main--content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 25px;
    margin-top: 30px;
  
  .theater__upperPart {
    display: flex;
    flex-direction: row;
    align-items: center;

    .theater__main--content--left {
      width: 60%;
      padding-right: 40px;
      
      .theater__title{
        padding-bottom: 20px;
      }

      .theater__presentation {
        text-align: justify;
      }
    }
    .theater__presentation--right {
      width: 40%;

      .theater__picture {
        box-shadow: 7px 7px 7px black;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
      }
    }
  }

  .theater__accordion {
    display: block;
    width: 100%;
    height: auto;
  }
}

