

.jumbotron__main {

  .jumbotron {

    .jumbotron__container {
      // background-image: url("./courant.jpg");
      // background-size: cover;
      // background-position: center;
      height: 50vh;
      width: 100vw;
      padding: 0px;
      margin: 0px;
      background-color: red;
    }


  }

  
}
