@use 'src/styles/vars';

.navbar {
  background: rgb(0, 0, 0);
  height: 80px;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  align-content: center;
  font-family: vars.$roboto;

  @media (max-width: 1335px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-bottom: 0;
    vertical-align: middle;

    @media (max-width: 1335px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .navbarImg {
      width: 200px;
    }
  }
  
  .menu-icon {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;

    @media (max-width: 1335px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .fa-times {
      color: #fff;

      @media (max-width: 1335px) {
        font-size: 2rem;
      }
    }

    .fa-bars {
      color: #fff;

      @media (max-width: 1335px) {
        font-size: 2rem;
      }
    }
  }

  .nav-menu.active {
    @media (max-width: 1335px) {
      background: black;
      padding-left: 0;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  }

  .nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: center;
    
    height: 100%;

    @media (max-width: 1335px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      margin-top: 0;
    }

    .nav-item {
      display: flex;
      align-items: center;
      height: 100%;

      .nav-links {
        color: white;
        text-decoration: none;
        padding: 0.5rem 1rem;

        @media (max-width: 1335px) {
          text-align: center;
          padding: 1rem;
          width: 100%;
          display: table;
          height: 50px;
        }
      }

      .nav-links-mobile {
        display: block;

        @media (max-width: 1335px) {
          display: block;
          text-align: center;
          padding: 1.5rem;
          margin: 2rem auto;
          border-radius: 4px;
          width: 80%;
          background: #1888ff;
          text-decoration: none;
          color: #fff;
          font-size: 1.5rem;
        }
      }

      .nav-links:hover {
        background-color: #1888ff;
        border-radius: 4px;
        transition: all 0.2s ease-out;

        @media (max-width: 1335px) {
          background-color: #1888ff;
          border-radius: 0;
        }
      }

    }
  }
  .NavbarItems {
    @media (max-width: 1335px) {
      position: relative;
    }
  }

  .fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.6rem;
  }

  .btn {
    @media (max-width: 1335px) {
      display: none;
      align-self: center;
      margin-bottom: 2rem;
    }
  }
}








