@use 'src/styles/vars';


.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  margin-top: 30px;
  height: 500px;
  padding: 20px;

  .footer__empty {
    width: 20%;
  }

  .footer__copyright {
    text-align: center;
    height: 50px;
    width: 60%;
    margin-top: 20px;
    vertical-align: center;
    font-family: vars.$roboto;
    color:white;
  }


}
